.App
{
  min-height: 500px;
  .list-title
  {
    padding: 5px;
    text-align: center;
  }
  .list-operations
  {
    margin:15px;
    .btn
    {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}