html, body, #root
{
  height:100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Custom Bootstrap Checkbox Style Fix

.custom-control-input
{
    z-index:100;
}
.custom-checkbox
{
  margin-top: 10px;
  margin-left: auto;
  margin-right: 0px;
  margin-bottom: auto;
  transform: scale(2);
}
.custom-control-label 
{
    vertical-align: top;
}