$item-title-height: 18pt;
.todo-item
{
    display:flex;
    flex-direction: row;
    float:left;
    width:100%;
    max-width: 750px;
    padding:5px;
    .item-status
    {
        margin-top: calc(#{$item-title-height}/2);
        transform: scale(1.5);
        padding: 5px;
    }
    .item-information
    {
        text-align: left;
        .item-title
        {
            font-weight: bold;
            font-size: $item-title-height;
            
        }
        .item-details
        {

        }
        .item-operations
        {
            .btn
            {
                margin:15px;
            }
        }
    }
}
