$item-title-height: 18pt;
.todo-item
{
    .item-status
    {
        /**/
        .item-status-checkbox
        {
            margin-top: calc(#{$item-title-height}/2);
            transform: scale(1.5);
        }
    }
    .item-information
    {
        text-align: left;
        .item-title
        {
            font-weight: bold;
            font-size: $item-title-height;
            
        }
        .item-details
        {

        }
    }
    
    .item-operations
    {
        .btn
        {
            max-height: 40px;
        }
    }
}
